*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	font-family: Helvetica;
}

.form{
	margin-left: 33%;
	width: 30%;
	height: auto;
}

legend{
	margin: auto;
}

.grupo_form {
	padding: 10%;
	background-color: #0ca678;
	border-radius: 5%;
}

.textbox{
	margin: 2% auto 2%;
	width: 80%;
	border-radius: 10%;
}
